<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path Finder</title>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        .map {
            height: 400px;
            width: 600px
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #3498db;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #2980b9;
        }

    </style>
</head>
<body>
    <h3>Inserisci il punto di partenza e di arrivo cliccando sulla mappa.</h3>
    <div id="map" class="map"></div>
    </br></br>
    <button onclick="calculatePath()">Calcola percorso</button>
    </br></br>
    <div id="map-container" class="map"></div>
    <script>
        var map = L.map('map').setView([40.7, -73.9], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        var startMarker, endMarker;

        map.on('click', function (e) {
            if (!startMarker) {
                startMarker = L.marker(e.latlng).addTo(map);
                sendCoords('/select_start', { lat: e.latlng.lat, lon: e.latlng.lng });
            } else if (!endMarker) {
                endMarker = L.marker(e.latlng).addTo(map);
                sendCoords('/select_end', { lat: e.latlng.lat, lon: e.latlng.lng });
            }
        });

        function calculatePath() {
            if (startMarker && endMarker) {
                sendRequest('/calculate_path', function (response) {
                    var path = response.path;
                    var streetNames = response.street_names;
                    var totalDistance = response.total_distance;

                    startMarker.bindPopup('Partenza').openPopup();
                    endMarker.bindPopup('Arrivo').openPopup();

                    // Aspetta che la mappa sia completamente pronta prima di aggiungere la polilinea
                    map.on('load', function () {
                        L.polyline(path, { color: 'blue' }).addTo(map);
                    });

                    console.log(response.map);
                    document.getElementById("map-container").innerHTML = response.map;

                });
            } else {
                alert('Seleziona prima un punto di partenza e un punto di arrivo.');
            }
        }


        function sendCoords(url, coords) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(coords)
            });
        }

        function sendRequest(url, callback) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(callback);
        }
    </script>
</body>
</html>
